*{
  font-family: jost;
  color: #000;
}

h1,h2,h3,h4,h5,h6{
  color: #000;
}

p{
  color: #000;
  font-size: 0.7rem;
}

/* App.css */
.header {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.navbar {
  background-color: #555;
  padding: 10px;
}

.navbar li{
  margin:0 0.85rem;
}

.right-sidebar {
  background-color: #ddd;
  padding: 10px;
}

.main-content {
  padding: 20px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #555;
  color: white;
}

.left-sidebar{
  margin: 1rem;
}

.left-sidebar .card{
  background-color: transparent;
  border: none;
}

