* {
  color: #000;
  font-family: 'pirata one', sans-serif;
  background-color:  #fff;
  border-color: #000;
}
body{
  max-width: 90vw;
  margin: auto;
  /* background-image: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

p {
  font-size: 1rem;
  font-family: 'grenze gotisch', sans-serif; 
  line-height: 1;
  text-align: justify;
}

a{
  font-family: 'pirata one', sans-serif; 
  font-weight: 600;
  color: #000;
}
.card{
  border-radius: 0;
  background-color: transparent;
  border: 1px solid grey;
}

.navbar {
  border-top:2px solid grey;
  border-bottom:2px solid grey;
}

.navbar .navbar-toggler{
  border: none;
  box-shadow: none;
}

.left-sidebar,.right-sidebar {
  margin:1rem 0;
}

.FeaturedCardBottom{
  height: auto;
}
.left-sidebar .card, .right-sidebar .card {
  background-color: transparent;
  border: none;
  border-top: 1px solid grey;
}

.form-control {
  border-radius: 0;
  background-color: transparent;
  border-bottom:1px solid grey !important;
}

/* Styles for a focused form control */
.form-control:focus,.form-control:hover,.form-control:active  {
  box-shadow: none;
  border-color: none;
  background-color: transparent;
}

.slick-prev,.slick-next{
  display: none !important;
}

footer .container-fluid{
  padding: 3rem 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

}


/* Media query for screens smaller than 768px (e.g., smartphones) */
@media (max-width: 767px) {

.FeaturedCardTop .img-fluid{
  height: auto !important;
}
.FeaturedCardBottom .img-fluid{
  height: auto !important;
}

.CourseCard .card-title{
  font-size: 2rem;
  display: flex;
}

}

/* Media query for screens between 768px and 992px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Media query for screens larger than 992px (e.g., desktops) */
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}
